/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration
 */

@import 'tailwindcss';

@theme {
  --animate-marquee: marquee 8s linear infinite;
  --color-gray-200: #F6F6F5;
  --color-gray-800: #1B1F23;
  --h-96: 392px;

  @keyframes marquee {
    to {
      transform: translateX(-50%);
    }
  }
}