/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration
 */

@import 'tailwindcss';

@theme {
  --animate-marquee: marquee 8s linear infinite;
  --color-gray-200: #F6F6F5;
  --color-gray-400: #E4E4E4;
  --color-gray-600: #101226;
  --color-gray-800: #1B1F23;
  --color-orange-800: #802608;
  --h-96: 392px;
  --text-4xl: 40px;

  @keyframes marquee {
    to {
      transform: translateX(-50%);
    }
  }
}